$border-color: lightgray;
$accent-color: #4ddcb1;
$purple: #748CCD;
$darkpurple: #4062BB;
$mediumpurple: #5F88E8;

.about-page {
  height: 100vh;
  min-height: 500px; 
  background-color: $darkpurple; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  h2, p {
  	color: white;
  	margin: 0; 
  	font-weight: 300; 
  }
  p {
  	line-height: 24px; 
  }
  h2 {
  	font-size: 52px;  
  }
  h3 {
  	font-size: 18px;
  	margin: 0; 
  }
}

.about-header-container {
	text-align: center;
}

.about-cards-container {
	width: 90%; 
	min-width: 800px; 
	display: flex; 
	justify-content: space-around; 
}

.about-icon {
	width: 70px;
	margin: 30px;   
}

.about-card {
	background-color: $mediumpurple;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	color: white; 
	width: 30%; 
	height: 350px; 
	text-align: center;
	padding: 10px; 
}

.short-line {
	display: inline-block;
	border-width: 0;
	height: 2px;
  margin: 2em 0;
  width: 50px; 
  background-color: white;
}

.cards-line {
	margin: 1em 0; 
}
