.short-description, .tag-field {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 400px;
}

.long-description {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 400px;
  height: 200px;
}

.upload-image {
  margin-bottom: 25px;
}

.info-text {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 350px;
}
