.landingpage-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.landingpage-details-container {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 150px;
}

.welcome-header {
	font-family: $app-font;
	color: white;
	text-align: center;
}

.enter-app-button {
	display: block;
	margin: 0 auto;
  display: block;
  background-color: transparent;
  border: 3px solid $accent-color;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(77,220,177,0.3);
  &:hover {
  	opacity: 0.8;
  }
}

.landing-header {
	background-color: transparent !important;
	border: none !important;
	span {
		color: white !important;
	}
}

.landing-header-links {
	a {
		color: white !important;
		&:hover {
			opacity: 0.8 !important;
		}
	 	&:focus {
      outline: none;
   	}
	}
}

.landing-page-header-toggle {
	background-color:transparent !important;
	border-color: white !important;
	span {
		background-color: white !important;
	}
}

.landing-page-header-toggle.icon-bar {
	background-color: white !important;
}

.app-description-landing {
  color: white !important;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(77,220,177,0.2);
  padding: 15px;
  border-radius: 10px;
}

.emphasis {
  font-size: 1.5em;
  font-weight: bold;
}

.right-link-header {
	a {
		color: white !important;
		font-size: 16px !important;
	}
}

.nav-text-header {
	color: white !important;
}

@media screen and (min-width: 768px) {
	.welcome-header {
		font-size: 60px;
	}

	.landing-header-links {
		a {
			font-size: 16px;
		}
	}

	.app-description-landing {
		font-size: 25px;
	}

	.enter-app-button {
		font-size: 30px;
	}

}

@media screen and (min-width: 1200px) {

	.welcome-header {
		font-size: 72px;
	}

	.enter-app-button {
		border: 4px solid $accent-color;
	}
}
