.landingpage-container {
	height: 100vh;
	width: 100%;
	position: relative;
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../assets/images/city.jpg'),
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingpage-details-container {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 200px;
}

.welcome-header {
	font-family: $app-font;
	color: white;
	text-align: center;
}

.landing-header {
	border: none !important;
	background-color: white !important; 
	margin-bottom: 0 !important; 
	border-bottom: 3px solid $border-color !important; 
}

.landing-header-links {
	a {
		color: $darkpurple !important;
		&:hover {
			opacity: 0.8 !important;
		}
	 	&:focus {
      outline: none;
   	}
	}
}

.landing-page-header-toggle {
	background-color:transparent !important;
	border-color: white !important;
	span {
		background-color: white !important;
	}
}

.landing-page-header-toggle.icon-bar {
	background-color: white !important;
}


.emphasis {
  font-size: 1.5em;
  font-weight: bold;
}

.right-link-header {
	a {
		color: white !important;
		font-size: 16px !important;
	}
}

.nav-text-header {
	color: white !important;
}

@media screen and (min-width: 768px) {
	.welcome-header {
		font-size: 60px;
	}

	.landing-header-links {
		a {
			font-size: 16px;
		}
	}

	.app-description-landing {
		font-size: 25px;
	}

}

@media screen and (min-width: 1200px) {

	.welcome-header {
		font-size: 72px;
	}

}
