.landingpage-container {
	height: 100vh;
	min-height: 700px;
	width: 100%;
	position: relative;
	background: 
		linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../assets/images/city.jpg'),
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingpage-details-container {
	color: white;
	text-align: center;
	position: absolute; 
	top: 225px; 
	left: 0; 
	right: 0; 
	h2 {
		font-size: 22px; 
		font-weight: 300; 
	}
}

.welcome-header {
	font-family: $app-font;
	color: white;
}

.homepage-scroll-container {
	position: absolute;
	width: 100px;  
	top: 550px; 
	left: 50%;  
	margin-left: -50px;
	text-align: center; 
}

.homepage-scroll-arrow {
	width: 50px; 
}

@media screen and (min-width: 768px) {
	.welcome-header {
		font-size: 60px;
	}

	.landing-header-links {
		a {
			font-size: 16px;
		}
	}

	.app-description-landing {
		font-size: 25px;
	}

}

@media screen and (min-width: 1200px) {

	.welcome-header {
		font-size: 72px;
	}

}
