
.close-button {
	float: left;
  border: none;
  background-color: white;
}

.close-button {
  img {
    width: 20px; 
     &:hover {
     opacity: 0.7;
    }
  }
}

.location-details-container {
  margin: 10px;
  padding: 10px
}

.location-details-user-container {
  display: flex; 
  flex-direction: column;
  border: 1px solid $border-color;
  padding: 15px;
  margin: 20px 0 0 0;
}

.location-image {
  width: 250px;
  margin: 10px;
}

.selected-location-info {
  text-align: left;
  padding: 10px 0; 
  justify-content: space-between;
}

.selected-location-name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px; 
}

.user-image-review {
  border-radius: 50%;
  width: 90px;
  margin: 0 auto; 
}

.user-info-for-review {
  display: flex; 
  flex-direction: column; 
  text-align: center;
  border-bottom: 1px solid $border-color;
  color: $darkpurple; 
  p {
    font-weight: bold; 
    margin-bottom: 5px;
    font-size: 16px; 
  }
}

