 

 .locals-details-name {
 		font-weight: bold;
  	font-size: 18px;
  	padding: 10px;
 } 

 .locals-details-image {
 		border-radius: 50%; 
 		margin: 10px 0; 
 		width: 200px; 
 }

 .locals-details-bio {
 	  padding: 20px;
    text-align: left;
    margin-left: 5px;
 }

 .locals-details-button {
 	border: none; 
 	border-bottom: 1px solid lightgray!important;
 	background-color: white; 
 	font-weight: bold; 
 	color: $charcoal; 
 	&:hover {
 		color: gray;
 	}
 }
