$accent-color: #4ddcb1; 

.display-map {
  float: left;
  width: 65%;
  height: 100vh;
  margin-left: 15px;
  padding-right: 15px;
  border-right: 1px solid gray;
  position: relative;
  margin: 10px;   
}

.leaflet-popup-content {
	text-align: center; 
}

.leaflet-popup-content p {
	 margin: 12px 0; 
}

.location-name {
	font-weight: bold; 
	font-size: 16px; 
	color: $accent-color;   
}

.location-short-description {
	font-size: 14px;  
}

.modal-location-title {
  margin-top: 30px;
}

