.disabled, .no-click {
  opacity: 0.5;
  background-color: gray !important;
  border: 1px solid gray !important;
  color: black !important;
  &:hover {
    opacity: 0.5 !important;
  }
}

.save-map-text {
  color: $accent-color;
  font-size: 16px;
  line-height: 85px;
  width: 300px;
  margin: 10px auto;
}

.purple {
  color: $purple;
}

.save-map-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  line-height: 1.5;
}

.save-map-button {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  font-size: 18px;
  color: white;
  &:hover {
    opacity: 0.7;
  }
}

.location-listing {
  display: block;
  text-align: center;
  margin: 15px;
}

.location-text-element {
  font-weight: bold;
  text-align: center;
}

.location-text-icon {
  margin: 8px;
  &:hover {
    color: gray;
  }
}

.location-text {
  color: $charcoal;
  border: 2px solid $accent-color;
  border-radius: 2px;
  margin: 0 auto;
  padding: 6px;
}

.complete {
  color: $accent-color;
}

.saved-location {
  color: $purple;
  border: 2px solid $purple;
}

.new-location-details-save {
  width: 70%;
  font-size: 18px;
}

.modal-header {
  color: white;
  background-color: $accent-color;
}

.short-description, .tag-field {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  border: 1px solid $accent-color !important;
  padding: 5px;
}

.long-description {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  height: 200px;
  outline: none;
	resize: none;
  border: 1px solid $accent-color !important;
  padding: 5px;
}

.upload-image {
  margin-bottom: 25px;
}

.info-text {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
  line-height: 1.5;
}

.view-my-map {
  width: 50%;
  margin: 5px;
  background-color: white;
  border: 2px solid $purple;
  color: $charcoal;
  &:hover {
    background-color: $purple;
    color: white !important;
    border: 2px solid $purple;
    margin: 5px;
  }
}

.saved-locations-confirm {
  width: 65%;
  font-size: 18px;  
}  

.locations-saved-body {
  p {
    font-size: 18px; 
  }
}
@media screen and (max-width: 460px) {

 .info-text {
  font-size: 14px;
 }

 .long-description {
  height: 90%;
 }

}
