$app-font: 'stokedregular';

.header, .footer {
  margin: 0 5px 30px 5px;
  width: 100%;
  padding: 15px 0;
  ul {
    list-style: none;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-right: 50px;
    li {
      display: inline-block;
      padding: 10px;
      a {
        text-decoration: none;
        // color: #2D2D2D;
          color: #4ddcb1;
        // color: #F45B69;
        &:hover {
          color: #51B2B2;
          cursor: pointer;
        }
      }
    }
  }
}

.header {
  border-bottom: 1px solid lightgray;
  z-index: 999998;
  left: 0;
}

.footer {
  border-top: 1px solid lightgray;
  float:left;
  bottom: 0;
  z-index: 999999;
  margin-top: 10px;
  ul {
    justify-content: center !important;
  }
}

.app-name {
  font-family: $app-font;
  width: 50%;
  font-size: 35px; 
  // color: #F45B69; 
  color: #4ddcb1;
  float: left; 
  margin-left: 15px; 
}
