$app-font: 'stokedregular';
$border-color: lightgray;
$accent-color: #4ddcb1;
$charcoal: #2D2D2D;
$purple: #748CCD;
$darkpurple: #4062BB;

.welcome-header {
  font: $app-font;
  color: white;
}

.app-name {
  cursor: pointer; 
}

.header, .footer {
  margin: 0 5px 30px 5px;
  width: 100%;
  padding: 15px 0;
  ul {
    list-style: none;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-right: 50px;
    li {
      display: inline-block;
      padding: 10px;
      a {
        text-decoration: none;
        color: $charcoal;
        &:hover {
          color: gray;
          cursor: pointer;
        }
      }
    }
  }
}


.footer {
  border-top: 1px solid $border-color;
  float:left;
  bottom: 0;
  z-index: 999999;
  margin-top: 10px;
  ul {
    justify-content: center !important;
  }
}

.help-button {
  border: none; 
  background-color: transparent;
  color: $charcoal;
  font-size: 16px; 
  &:hover {
    opacity: 0.5; 
  }
}

.navbar-brand {
  font-family: $app-font;
  color: $accent-color !important;
  font-size: 32px !important;
  padding: 15px 5px !important;
  position: relative; 
}

.navbar-inverse {
  background-color: white !important;
  border-color: white !important;
  border-bottom: 1px solid $border-color !important;
}

.navbar-toggle {
  background-color: white !important;
  border-color: $accent-color !important;
}

.navbar-collapse {
  border-color: $border-color !important;
}

.icon-bar {
  background-color: $accent-color !important;
}

.right-link {
  font-size: 16px !important;
  a {
     color: $darkpurple !important;
     &:hover {
        color: $purple !important;
     }
     &:focus {
        outline: none;
     }
  }
}

.container {
  width: 98% !important; 
}

.logo {
  width: 28px;
}

.logo-container {
  position: absolute;
  top: 9px; 
  left: 180px; 
}