$charcoal: #2D2D2D;
$purple: #4062BB;
$darkpurple: #748CCD;  
$border-color: lightgray; 
$accent-color: #4ddcb1;

.sidebar {
  float: right;
  width: 30%;
  border-radius: 2px;
  margin-right: 35px;
  padding: 0 15px 50px 0;
  text-align: center;
  overflow: hidden;  
}

.main-maps-sidebar {
  height: 100vh; 
}

.sidebar-inner-container {
  overflow-y: scroll; 
  width: 100%; 
  height: 100%; 
  margin-left: 30px; 
  padding-bottom: 40px; 
}

.sidebar-nav {
  border-bottom: 1px solid $border-color;
  padding-top: 7px; 
  margin-left: 30px;
  margin-bottom: 10px;  
  ul {
    li {
      display: inline-block; 
    }
  }
}


.sidebar-nav-button {
  font-size: 18px !important;
  margin: 10px; 
  color: $charcoal !important;
  position: relative;
  &:hover {
    color: gray !important;
  }
}

.hover-text {
  display: none;
  font-size: 10px;
  position: absolute;
  color: black;
  font-weight: bold;
}

.filter-hover:hover + .hover-text {
  display: block; 
}

.users-hover:hover + .hover-text {
  display: block; 
}

.user-hover:hover + .hover-text {
  display: block; 
}

#filters-on {
  color: $accent-color; 
  &:hover {
    opacity: 0.6; 
  }
}




