
.sidebar {
  float: right;
  width: 25vw;
  border-radius: 2px;
  margin-right: 20px;
  padding: 0 15px 15px 15px;
  text-align: center;
}

.close-button {
	float: left;
}

.modal-location-title {
	margin-top: 30px;
}

.filter-button, .close-button {
  color: red;
}

.tag-button-selected {
  background-color: lightblue;
}

.user-info {
  border-bottom: 1px solid gray; 
  padding-bottom: 10px; 
}

.user-info:last-child {
  border-bottom: none; 
}

.user-image {
  border-radius: 50%;
  padding-top: 12px;
}

.user-name {
  font-weight: bold; 
  font-size: 18px; 
  color: #2D2D2D;
  padding-top: 12px; 
}

.user-bio {
  text-align: left;
  font-size: 14px;
  padding: 12px;
  line-height: 20px; 
}

.see-user-city, .see-user-profile, .sidebar-nav-button {
  border: none;
  background-color: white;
  font-size: 13px; 
  // color: #52489C;
  // color: #F45B69;
  color: #4062BB;
  &:hover {
    // color: #DE5360;
    color: #748CCD; 
    cursor: pointer;
  }
}

.sidebar-nav-button {
  font-size: 18px !important;
  color: #2D2D2D !important;
  &:hover {
    color: gray !important;
  }
}

