.signup-form {
	margin: 20px; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
}

.sign-up-error, .sign-in-error {
	color: red; 
}

.sign-up-pw-req {
	color: gray; 
	font-size: 12px; 
	margin-left: 210px; 
	margin-top: 10px; 
}