.signup-form {
 	margin: 10px; 
}

.sign-up-error, .sign-in-error {
	color: red;
	margin: 10px; 
	font-size: 13px; 
	font-weight: bold;
	text-align: center;   
}

.sign-up-pw-req {
	color: gray; 
	font-size: 12px; 
	text-align: center;  
	margin: 10px; 
}

.modal-footer {
	text-align: left !important; 
}

.modal-backdrop.in {
	opacity: 0.7 !important;
}

h4.modal-title {
	font-size: 24px !important; 
}

.modal-content {
	text-align: center; 
}

.signup-form {
	input {
		border-radius: 2px; 
		border: 1px solid $border-color; 
		padding: 5px; 
		width: 75%; 
		font-size: 18px; 
	}
}

.auth-modal-body {
	padding: 15px 15px 0 15px !important; 
}