$darkpurple: #4062BB; 
$purple: #748CCD;
$accent-color: #4ddcb1;
$charcoal: #2D2D2D; 


.tag-button, .accent-button {
  margin: 4px;
  background-color: white;
  border: 1px solid gray;
  color: $charcoal;
}

.tag-button-selected, .add-location-to-favs-button {
  background-color: $accent-color;
  color: white !important;
  border: 1px solid $accent-color;
  margin: 5px;
}

.tag-button, .tag-button-selected, .accent-button, .add-location-to-favs-button, .close-button {
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

.accent-button {
  display: block; 
  margin: 20px auto; 
  color: $accent-color; 
  font-weight: bold;
  background-color: white; 
  border: 2px solid $accent-color !important; 
  &:hover {
    opacity: 0.5;
    // background-color: $purple; 
    // border: 1px solid $purple !important; 
  }
}

.tag-button-container {
  margin: 40px 0;
}
