.account-details-container {
	margin: 15px; 
}

.user-edit { 
	border: 1px solid $border-color;
	border-radius: 2px; 
	// margin-right: 75px; 
}

.user-edit, .user-label {
	padding: 4px;
	font-size: 14px;
	text-align: left; 
	width: 100%;  
}

.user-label {
	font-weight: bold; 
}

.table-responsive {
   margin-top: 10px; 
}
 
.account-settings-header {
	font-weight: bold;
	margin-bottom: 25px; 
}

.save-user-details-button {
	width: 75%;
  font-size: 18px;
}

// .edit-user-details-modal-body {
// 	margin-left: 30px !important; 
// }

.edit-bio {
	max-height: 120px; 
	overflow: auto; 
}

.user-account-details {
  border-radius: 2px;
  padding: 15px; 
  // background-color: lightgreen; 
}

.user-maps-container {
	display: flex;
  justify-content: center;
  align-items: center;
}

.maps-list-container {
  padding-top: 10px;
}

.user-maps-header {
	font-weight: bold; 
	margin-top: 0px; 
	font-size: 24px; 
}

.create-map-button {
	margin: 20px 0 !important; 
	width: 200px;
  height: 40px;
  font-size: 16px; 
}

.user-profile-picture {
	width: 150px;
	margin-bottom: 15px;
}

.user-profile-picture-modal {
	width: 150px; 
	margin-bottom: 20px;
}

.profile-picture-container {
	text-align: center;
	padding: 15px; 
}

.change-profile-picture-button, .edit-user-details-button {
	display: block;
	margin: 0 auto;
	background-color: white;
  border: none;
  font-size: 16px; 
  color: $darkpurple;
  &:hover {
  	color: $purple;
  }
}

.image-upload-container {
  border: 1px solid $border-color;
  border-radius: 2px;
  width: 75%;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}

.user-central-info {
	// background-color: lightpink;
}

.user-details-table {
	display: flex; 
	flex-direction: column; 
}

.general-user-account-container {
	margin: 0 auto; 
	text-align: center;
	border-bottom: 1px solid $border-color;
	h4 {
		margin-top: 0px; 
	}
}