@import 'map';
@import 'navbars';
@import 'sidebar';
@import 'locals_display';
@import 'tags_display';
@import 'location_details_display';
@import 'locals_details_display';
@import 'signin';
@import 'signup';
@import 'selected_results';
@import 'user_account_page';
@import 'landing_page';
@import 'new_map';
@import 'tutorial';
@import 'about'; 

@font-face {
    font-family: 'stokedregular';
    src: url('../assets/fonts/stoked-webfont.woff2') format('woff2'),
         url('../assets/fonts/stoked-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$base-font: 'Lato', sans-serif;
$app-font: 'stokedregular';
$border-color: lightgray;
$accent-color: #4ddcb1;
$charcoal: #2D2D2D;
$purple: #748CCD;
$darkpurple: #4062BB;

* {
  box-sizing: border-box;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: $base-font !important;
  color: #5F5F5F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

html {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bold {
  font-weight: 700;
}
.navbar {
  border-radius: 0 !important; 
}

@media only screen and (max-width: 1120px) {
 .display-map {
    width: 60%;
 }

 .sidebar {
    width: 30%;
 }
}

@media only screen and (max-width: 865px) {
 .display-map {
    width: 55%;
    margin-left: 10px;
 }

 .sidebar {
    margin-right: 70px
 }

}

 @media only screen and (max-width: 768px) {

   .display-map {
      width: 80%;
      height: 60vh;
      float: none;
      margin: 30px auto !important;
   }

   .sidebar {
    float: none;
    width: 100%;
    margin-right: 0;
    padding: 0;
    height: auto;
   }

   .sidebar-nav {
      margin-left: 0;
   }

   .sidebar-inner-container {
    overflow-y: hidden;
    margin-left: 0;
    height: auto;
    padding-bottom: 0;
   }


  .user-bio {
    margin-left: 10px;
    margin-bottom: 5px;
  }

   .user-name {
      font-size: 16px;
      margin-left: 96px;
      margin-bottom: 5px;
   }

   .user-image {
    margin: 0 10px;
   }

}

 @media only screen and (max-width: 620px) {

    .user-info-list {
      width: 40%;
      margin: 10px 20px;
    }

  }

   @media only screen and (max-width: 460px) {

    .user-info-list {
      width: 100%;
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .display-map {
      margin-left: 0;
    }

    .user-name {
      margin-bottom: 10px;
    }

    .tag-button-container {
      margin: 20px 0;
    }

    .close-button {
      margin-left: 15px;

    }

    .sidebar {
      padding: 5px;
    }

  }
